
*.asm~
*.md~
*.bin
serial_int/Makefile~
*.fs~
*.bin#
serial_int/Makefile.xmodem~
*.sym
clock_check/clock_check.wav
serial_int/serial.wav
3d_monster_maze/symbols.txt
*.txt~
rc2014_sound_card/Makefile~
mpf-i/Makefile~
